*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/bg.svg);
    background-position: center;
    object-fit: cover;
    margin: 0 auto;
}

main{
    display: flex;
    margin: 7rem auto 0;
    justify-content: center;
    max-width: 34rem;
    border-radius: 1.5rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 0rem 0rem 0.313rem #0000002d
}

input{
    height: 2.5rem;
    padding: 0 1rem;
}

label{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: .35rem;
}

.hd-cpt h1{
    font-size: 1.875rem;
}

.hd-cpt p{
    font-size: 0.875rem;
}


.cont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.btn-fed{
    display: flex;
    padding: .5rem 0;
    gap: 1rem;
    width: 70%;
    text-align: left;
    align-items: center;
}

p#feedback{
    font-size: 0.75rem;
    width: 50%;
}

button{
    padding: .5rem 2rem; 
    border-radius: .25rem;
    border: none;
    background-color: darkslategray;
    color: white;
    font-size: 0.875rem;
}

footer{
    position: absolute;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}

