*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    margin: 7rem auto 0;
    justify-content: center;
    max-width: 34rem;
    border-radius: 2rem;
    height: max-content;
    padding: 2rem;
    font-family: "Space Grotesk", sans-serif;
    background-image: url(img/bg.svg);
    background-position: center;
    object-fit: cover;
}


.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.form{
    display: flex;
    flex-direction: column;

}

p#feedback{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
}